<ion-header>
  <ion-toolbar class="title" color="primary">
    <ion-title>
      Referenciar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-img class="logo" src="/assets/newUser.svg"></ion-img>
        <ion-item class="parraf">
        <p>¿Conoces a alguien que desee información sobre GoldenDragon?</p>
      </ion-item>
        <ion-card class="datos">
            <ion-list>
            <ion-item>
              <ion-input placeholder="Nombre" name="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Teléfono Celular" name="phone"></ion-input>
            </ion-item>
          </ion-list>
        </ion-card>
        <button class="refer" (click)='presentAlert()'>Enviar</button>
</ion-content>
