<ion-header>
  <ion-toolbar class="title" color="primary">
    <ion-title>
      Referenciar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-img class="logo" src="/assets/newUser.svg"></ion-img>
        <ion-item class="parraf">
        <p>Algunos transportadores o conductores quieren referenciar a sus allegados y conocidos a la marca Golden Dragon. Por favor revise y clasifique dicha información</p>
      </ion-item>

        <!-- <ion-card class="datos">
            <ion-list>
            <ion-item>
              <ion-input placeholder="Nombre"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Teléfono Celular"></ion-input>
            </ion-item>
          </ion-list>
        </ion-card> -->
        <button class="refer" (click)=refer()>Revisar información</button>
</ion-content>
